<ion-view view-title="公告">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2personal();">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
  </ion-nav-buttons>

    <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list>
    
        <ion-item  style="margin-top: 20px">
            <h>公告名称</h>
            <label style="float: right;"><p>公告时间</p></label>
            
            <p><br/>人在塔在<br/>我的大刀已经饥渴难耐了</p> 
        </ion-item>

    </ion-list>
    </ion-content>
    
</ion-view>