<ion-view view-title="公告">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2personal()">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
  </ion-nav-buttons>

    <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list>
 

    <ion-item  class="item-text-wrap" style="margin-top: 20px" ng-repeat = "bulletin in bulletins">
            <h>{{bulletin.name}}</h>
            <label style="float: right;"><p>{{bulletin.time}}</p></label>          
            <p><br/>{{bulletin.content}}<br/></p> 
    </ion-item>


    </ion-list>
    </ion-content>
    
</ion-view>