<ion-view title="Venkman">
  <ion-content padding="true" class="has-header">

   <ion-footer-bar class="bar item-input-inset">
    <label class="item-input-wrapper" >
    <i class="icon ion-edit placeholder-icon"></i>
    <input type="tel" placeholder="说点什么">
    </label>
    <button class="button button-positive">发送</button>   
  </ion-footer-bar>

  <div class="leftd">
    
    <div class="speech left" ng-class="speech left"> 
        She's very beautiful.
    </div>
  </div>
  <div class="rightd">
    
    <div class="speech right" ng-class="speech left"> 
        To you, she's beautiful. For me, there's only ...
    </div>
  </div>
  <div class="leftd">

    <div class="speech left" ng-class="speech left"> 
        Burning Down Broadway
    </div>
  </div>
  <div class="rightd">
    
    <div class="speech right" ng-class="speech left"> 
         Back off, man. I'm a scientist.
    </div>
  </div>
 
  </ion-content>
</ion-view>