
<ion-view view-title="修改密码">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2personal();">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div style="margin-top: 100px;margin-left: 10px;margin-right: 10px">
            <form name="myForm" novalidate>
                <div class="list list-inset">

                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="text" placeholder="输入原密码" name="phoneNumber" ng-minlength="11" ng-maxlength="11" ng-model="formUser.userPhone" required>
                </label>


                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="text" placeholder="输入新密码" name="phoneNumber" ng-minlength="11" ng-maxlength="11" ng-model="formUser.userPhone" required>
                </label>

                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="text" placeholder="确认新密码" name="phoneNumber" ng-minlength="11" ng-maxlength="11" ng-model="formUser.userPhone" required>
                </label>
                    <div class="button button-block button button-positive"   ng-click="doModify();" style="margin-top: 20px">修改</div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>