<ion-view view-title="任务">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <div class="bar subheader-bar has-header">
        <div class="row text-center">
            <div class="col two-level-nav" ng-click="showTab('任务申请状态')" ng-class="{'blue':isOne}">
            任务申请状态
            </div>
            <div class="col two-level-nav" ng-click="showTab('待处理任务')" ng-class="{'blue':isTwo}">
            待处理任务
            </div>
        </div>
    </div>
    <ion-content class="has-subheader" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">

        <div ng-include="'任务申请状态.html'" ng-if="tabIndex=='任务申请状态'"></div>
        <div ng-include="'待处理任务.html'" ng-if="tabIndex=='待处理任务'"></div>

        <script type="text/ng-template" id="任务申请状态.html">
            <div class="list">
                小兔子乖乖，把门开开，快点开开，我要进来~
            </div>
        </script>

        <script type="text/ng-template" id="待处理任务.html">
            <div class="list">
                不开不开我不开，妈妈没回来，谁来也不开~
            </div>
        </script>



    </ion-content>
    
</ion-view>