<ion-view view-title="聊天">
  <ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        +
      </button>
  </ion-nav-buttons>
    
  <ion-content padding="true" class="has-header">
    <ion-list id="page2-list1">
      <ion-item class="item-avatar"  ui-sref="tab.main-detail">
         <img src="https://raw.githubusercontent.com/zzk167/p/master/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>
      <ion-item class="item-avatar" id="page2-list-item2">
      <img src="https://raw.githubusercontent.com/zzk167/p/master/spengler.jpg">
        <h2>Eqon</h2>
        <p>We're gonna go full stream.</p>
      </ion-item>
      <ion-item class="item-avatar" id="page2-list-item3">
      <img src="https://raw.githubusercontent.com/zzk167/p/master/winston.jpg">
        <h2>Ray</h2>
        <p>Ugly little spud, isn't he?</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>