<ion-view view-title="任务">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <ion-content on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    暂未实现
 <!--   <div class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
    <div class="tabs">
        <a class="tab-item active" href="#">
            <i class="icon ion-home"></i>
            Test
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </div>
</div>
 -->   
    </ion-content>
    
</ion-view>