<ion-view view-title="聊天">
	<ion-content on-swipe-left="onSwipeLeft()">


    <ion-list>
      <ion-item class="item-avatar"  id = "chatting-item1" ng-click="doChatting()">
         <img src="https://raw.githubusercontent.com/zzk167/p/master/venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>

      <ion-item class="item-avatar" id="chatting-item2">
      <img src="https://raw.githubusercontent.com/zzk167/p/master/spengler.jpg">
        <h2>Eqon</h2>
        <p>We're gonna go full stream.</p>
      </ion-item>

      <ion-item class="item-avatar" id="chatting-item3">
      <img src="https://raw.githubusercontent.com/zzk167/p/master/winston.jpg">
        <h2>Ray</h2>
        <p>Ugly little spud, isn't he?</p>
      </ion-item>
    </ion-list>
	</ion-content>
  
</ion-view>