<ion-view view-title="我">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-exit"  ng-click="showConfirm();"></button>
    </ion-nav-buttons>
    <!--<ion-content class="ionic-pseudo">-->
    <ion-content on-swipe-right="onSwipeRight()">
    <ion-list>
        <ion-item class=" item-avatar item-icon-right">
                <img src="/img/ionic.png">
                <h2 style="left:">
                    姓名
                    <i class="icon ion-ios-arrow-right"></i>
                </h2>
                <p>部门</p>
        </ion-item>
        <p></p>


    </ion-list>
    </ion-content>

    
</ion-view>