<ion-view view-title="我">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-exit"  ng-click="showConfirm();"></button>
    </ion-nav-buttons>

    <p></p>

    <div class="content has-header">
        <div class="item item-avatar button button-large button-full icon-right ion-chevron-right button-clear">
                <img src="/img/ionic.png">
                <h2 style="left:">姓名</h2>
                <p>部门</p>
        </div>
        <p></p>


    </div>

    
</ion-view>