<ion-view view-title="任务">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus-round"  ng-click="task_apl()"></button>
    </ion-nav-buttons>

    <div class="bar subheader-bar has-header">
        <div class="row text-center">
            <div class="col two-level-nav" ng-click="showTab('任务申请状态')" ng-class="{'blue':isOne}">
            任务申请状态
            </div>
            <div class="col two-level-nav" ng-click="showTab('待处理任务')" ng-class="{'blue':isTwo}">
            待处理任务
            </div>
        </div>
    </div>
    <ion-content class="has-subheader" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">

        <div ng-include="'任务申请状态.html'" ng-if="tabIndex=='任务申请状态'"></div>
        <div ng-include="'待处理任务.html'" ng-if="tabIndex=='待处理任务'"></div>

        <script type="text/ng-template" id="任务申请状态.html">
            <ion-list>
                <ion-item  class="item-text-wrap" style="margin-top: 10px" ng-repeat="task_state in tasks_state">
                    <h>{{task_state.title}}</h>
                    <label style="float: right;"><p>{{task_state.tstate}}</p></label>
                    <p>{{task_state.time}}<br/></p>           
                </ion-item>
            </ion-list>
        </script>
    
        <script type="text/ng-template" id="待处理任务.html">
            <div class="list">
                <ion-item  class="item-text-wrap" style="margin-top: 10px" ng-repeat="task2deal in tasks2deal">
                    <h>{{task2deal.title}}</h>                  
                    <p>申请人：{{task2deal.aplyr}}<br/></p>
                    <p>申请时间：{{task2deal.time}}</p>           
                </ion-item>
            </div>
        </script>



    </ion-content>
    
</ion-view>