<ion-view view-title="我">
    <!--本视图可见时，ion-nav-buttons将被导航框架载入导航栏-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-exit"  ng-click="showConfirm();"></button>
    </ion-nav-buttons>
    <!--<ion-content class="ionic-pseudo">-->
    <ion-content on-swipe-right="onSwipeRight()">

    <center>
        <div class="item">
          <img src="/img/ionic.png" class="head_portrait">  
            <h2>{{user.userName}}</h2>
            <p>{{user.userDepart}}</p>
        </div>
      </center>

    <ion-list>
        <div class="item item-icon-right" ng-click="show_personal_infor()">
            <h2>个人信息<i class="icon ion-ios-arrow-right"></i></h2>
        </div>
        <div class="item item-icon-right" ng-click="#">
            <h2>公告查看<i class="icon ion-ios-arrow-right"></i></h2>
        </div>
        <div class="item item-icon-right" ng-click="modifyPassword()">
            <h2>修改密码<i class="icon ion-ios-arrow-right"></i></h2>
        </div>
    </ion-list>
    </ion-content>

    
</ion-view>