<ion-tabs class="tabs-icon-top  tabs-color-active-positive">
    <ion-tab title="聊天" icon="icon ion-ios-chatbubble-outline" ui-sref="tab.chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="通讯录" icon="ion-ios-people-outline" ui-sref="tab.friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="任务" icon="ion-ios-list-outline"  ui-sref="tab.groups">
        <ion-nav-view name="tab-groups"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我"  icon="ion-ios-person-outline" ui-sref="tab.account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>