<ion-view view-title="任务详情">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2task()">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
    </ion-nav-buttons>

    <ion-content>
    	<ion-list>
    	<ion-item class="item-text-wrap" style="margin-top: 10px">
    		<h>
                申请时间
            </h>
            <p style="float: right;">
                {{task_detail.createTime}}
            </p>
    	</ion-item>
    	
    	<ion-item>
    		<h>
    			申请状态
    		</h>
    		<p style="float: right;">
    			{{dtltask.result}}
    		</p>
    	</ion-item>

        <ion-item class="item-text-wrap">
            <h>
                申请内容
            </h><br>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;{{task_detail.description}}
            </p>
        </ion-item>
    	</ion-list>
    </ion-content>

</ion-view>