<ion-view view-title="任务详情">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2task()">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
    </ion-nav-buttons>

    <ion-content>
        
        <ion-item class="item-text-wrap" style="margin-top: 10px">
            <h>
                申请时间：
            </h>
            <p style="padding-left: 20px">
                {{task2deal_detail.createTime | date:"yyyy-MM-dd HH:mm:ss"}}
            </p>
        </ion-item>
        <ion-item class="item-text-wrap">
            <h>
                申请内容：
            </h>
            <p style="padding-left: 20px">
                {{task2deal_detail.description}}
            </p>
        </ion-item>

        <ion-item>
            <button class="button button-small" style="padding-right: 60px;padding-left: 50px;float: left;" ng-click="refuse()">
                驳回
            </button>
            <button class="button button-small" style="padding-right: 60px;padding-left: 50px;float: right;" ng-click="approve()">
                同意
            </button>
        </ion-item>
        
    </ion-content>

</ion-view>