
<ion-view view-title="任务申请">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2task()">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
    </ion-nav-buttons>

    <div class="bar subheader-bar has-header">
        <div class="row text-center">
            <div class="col two-level-nav" ng-click="showTab('请假')" ng-class="{'blue':isOne}">
            请假
            </div>
            <div class="col two-level-nav" ng-click="showTab('其他')" ng-class="{'blue':isTwo}">
            其他
            </div>
        </div>
    </div>

    <ion-content class="has-subheader">
        
        <div ng-include="'请假.html'" ng-if="tabIndex=='请假'"></div>
        <div ng-include="'其他.html'" ng-if="tabIndex=='其他'"></div>

        <script type="text/ng-template" id="请假.html">
            <div style="margin-top: 50px;margin-left: 10px;margin-right: 10px">
              
            <form novalidate>
                请假时间:
                <input type="textarea" placeholder="2017-01-01" ng-model="task.startTime" style="margin-left: 20px;width: 65%">
                <br><br>
                请假天数:
                <input type="textarea" placeholder="100" ng-model="task.numOfDays" style="margin-left: 20px;width: 65%">
                <br><br>
                请假原因:
                <input type="textarea" placeholder="回家生猴子" ng-model="task.motivation" style="margin-left: 20px;width: 65%">
                <br><br>
                <button class="button button-block button-positive" ng-click="submit()">
                    提交
                </button>
            </form>
            </div>
        </script>

        <script type="text/ng-template" id="其他.html">
            <div style="margin-top: 50px;margin-left: 10px;margin-right: 10px">
            <form>
                任务名称：
                <select style="margin-left: 20px" ng-model="otask.name">
                    <option  value="">请选择</option><!-- 防止第一个选项是空白 -->
                    <option ng-repeat="OTN in OTaskName" ng-if="OTN.name != 'vacation'" value="{{OTN.name}}">
                        {{OTN.name}}
                    </option>
                </select>
                <br><br>
                任务内容：
                <input type="textarea" placeholder="" ng-model="otask.content" style="margin-left: 20px;width: 65%">
                <br><br>
                接收人：
                <select style="margin-left: 35px" ng-model="otask.receiver">
                    <option  value="">请选择</option><!-- 防止第一个选项是空白 -->
                    <option ng-repeat="a_user in alluser" value="{{a_user.userID}}" ng-if="a_user.userID != my_infor.userID">{{a_user.userName}}</option>
                    <!-- <option ng-repeat="OTN in OTaskName" ng-if="OTN.name != 'vacation'">
                        {{OTN.name}}
                    </option> -->
                </select>
                <br><br>
            
        </form>
        <button class="button button-block button-positive" ng-click="Osubmit()">
                提交
        </button>
        </div>
        </script>
    </ion-content>
</ion-view>