<ion-view view-title="任务详情">
    <ion-nav-buttons side="left">
        <button class="button button-icon " ng-click="back2task()">
        <i class="icon ion-ios-arrow-back"></i>
        返回
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" style="margin-top: 10px">
                任务名称
                <label style="float: right;" ng-if="dtltask.name == 'vacation'"><p>请假申请</p></label>
                <label style="float: right;" ng-if="dtltask.name != 'vacation'"><p>{{dtltask.name}}申请</p></label>
            </ion-item>
        
            <ion-item>
                申请时间 
                <label style="float: right;">
                    <p>
                        {{dtltask.create_at | date:"yyyy-MM-dd HH:mm:ss"}}
                    </p>
                </label>
            </ion-item>
            <ion-item ng-if="dtltask.name == 'vacation'">
                开始时间 
                    <label style="float: right;">
                        <p>
                            {{dtltask.startTime | date:"yyyy-MM-dd"}}
                        </p>
                    </label>
            </ion-item>
            <ion-item ng-if="dtltask.name == 'vacation'">
                请假天数 
                    <label style="float: right;">
                        <p>
                            {{dtltask.numOfDays}}
                        </p>
                    </label>
            </ion-item>
            <ion-item ng-if="dtltask.name != 'vacation'">
                申请内容 
                    <label style="float: right;">
                        <p>
                            {{dtltask.content}}
                        </p>
                    </label>
            </ion-item>
            <ion-item ng-if="dtltask.name == 'vacation'">
                备注
                    <label style="float: right;">
                        <p>
                            {{dtltask.motivation}}
                        </p>
                    </label>
            </ion-item>
            <ion-item>
                申请状态 
                    <label style="float: right;">
                        <p>
                            {{dtltask.result}}
                        </p>
                    </label>
            </ion-item>
            <ion-item ng-if="dtltask.result == 'disapprove'">
                驳回理由 
                    <label style="float: right;">
                        <p ng-if="reason != ''">
                            {{reason}}
                        </p>
                        <p ng-if="reason == ''">
                            无理由
                        </p>
                    </label>
            </ion-item>
        </ion-list>
            
            <ion-item ng-if="dtltask.result == 'disapprove' && dtltask.name == 'vacation'">
                <button class="button button-small" style="padding-right: 60px;padding-left: 50px;float: left;" ng-click="giveup()">
                    终止
                </button>
                <button class="button button-small" style="padding-right: 60px;padding-left: 50px;float: right;" ng-click="adjust()">
                    调整
                </button>
            </ion-item>



    </ion-content>

</ion-view>